:root {
  margin: none;
  padding: none;
  --lightyear-red: #f04c23;
  --lightyear-yellow: #fce300;
  --lightyear-gray: #efefef;
  --lightyear-blue: #3452ff;
  --background-color: #ffffff;
  font-family: "Inter";
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--lightyear-red);
  color: transparent;
  padding: 0;
  display: grid;
  width: 100%;
  height: 100%;
}

section {
  place-self: center;
  text-align: center;
}

h1 {
  font-size: 8rem;
  -webkit-text-stroke: 2px var(--lightyear-red);
  margin: 0;
}

svg {
  fill: transparent;
  transform: rotateY(180deg);
  stroke: var(--lightyear-red);
  transition: all ease-out 0.5s;
}

span {
  margin-left: 2rem;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-text-stroke: 2px var(--lightyear-red);
  transition: all ease-out 0.5s;
}

.goBack:hover > svg,
.goBack:hover {
  stroke: var(--lightyear-blue);
  -webkit-text-stroke: 2px var(--lightyear-blue);
}

/* Media Fitting */
@media only screen and (max-width: 1000px) {
  h1 {
  }

  .goBack {
  }
}

@media only screen and (max-width: 600px) {
  h1 {
  }

  .goBack {
  }
}
