{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Lys Register{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Login In to LyS</h3>
    </div>
    <strong>Do not have a LyS Account?</strong>
    <a href="{{ url_for('register') }}">Create yours now.</a>
    <br><br>
<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.quick_form(form) }}
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
   {% for message in messages %}
   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
{% endwith %}

</div>
{% endblock %}

