{% extends "bootstrap/base.html" %}
{% block title %}Lightyear{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation"> <div class="container">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </button>
      <a class="navbar-brand" href="/flask_app/HTML/static">Flasky</a> </div>
   <div class="navbar-collapse collapse"> <ul class="nav navbar-nav">
      <li><a href="/flask_app/HTML/static">Email Validation</a></li> </ul>
   </div>
</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
   <div class="page-header">
      <h2>You successfully uploaded the file!</h2> </div>
</div>

{% endblock %}