body {
  margin: 0;
}

:root {
  --lightyear-red: #F04C23;
  --lightyear-yellow: #FCE300;
  --lightyear-gray: #EFEFEF;
  --lightyear-blue: #3452ff;
  --background-color: #ffffff;
  --contrast-color: #000;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  font-size: 11pt;
}

#header {
  /* Header */
}

#header html {
  width: 100%;
  height: 100%;
}

#header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  width: 100%;
  font-weight: 700;
  background-color: var(--lightyear-yellow);
  color: var(--contrast-color);
}

#header .alignment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  width: 100%;
  margin-left: 2em;
  margin-right: 2.4em;
}

#header .alignment-wrapper > section {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#header .alignment-wrapper > section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#header header > section:last-of-type {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header a {
  text-decoration: none;
  color: black;
}

#header .flex-6 > div:hover::after {
  background-color: var(--contrast-color);
  right: 0px;
}

#header .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header #logout-svg#logout-svg {
  margin-top: 0;
}

#header #logout-svg#logout-svg::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#header #logout-svg#logout-svg:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#header .flex-6 {
  padding-top: .75em;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#header .flex-6 > * {
  margin-top: .5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 2rem;
  position: relative;
  overflow: hidden;
}

#header .flex-6 > *#logout-svg {
  margin-right: 0;
}

#header .flex-6 > *:not(.current-page)::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#header .flex-6 > *:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#header .flex-6 > *::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
}

/* End Header */
/*# sourceMappingURL=header.css.map */