ssh_keys

.idea/

.DS_Store

__pycache__/

*.csv
*.pyc
*.sqlite3

emailValidity/PAST
emailValidity/toCheck

env/*

.ipynb_checkpoints/

/flask_app/erl_crash.dump




/haroListener/config/*
/haroListener/haro_jsons/*
/crunchbase/config/*
/crunchbase/crunch_test.ipynb
/linkedinSupport/config/*
/linkedinSupport/df_checker.ipynb
venv/

/haroListener/token.pickle
/haroListener/client.json

/emailValidity/test.csv
/haroListener/test.csv
/flask_app/test.csv
/ev_20/key.json
/flask_app/key.json

localclient.json
token.pickle
client.json
/flask_app/localclient.json
/haroListener/localclient.json
