emailValidity/PAST
emailValidity/toCheck
emailValidity/.DS_Store
emailValidity/.DS_Store
.idea/*
**/.DS_Store
env/*
flask/token.json
flask/credentials.json
flask/__pycache__/utils.cpython-37.pyc
flask/__pycache__/utils.cpython-37.pyc
flask/credentials.json
flask/token.json
flask/client.json
flask/token.pickle
flask/__pycache__/quick.cpython-37.pyc
emailValidity/__pycache__/emailValidity.cpython-37.pyc
.DS_Store
emailValidity/__pycache__/emailValidity.cpython-37.pyc
.idea/
.DS_Store
haroListener/config/*
haroListener/haro_jsons/*
haroListener/token.pickle
haroListener/token.json
