ssh_keys
.idea
.DS_Store
__pycache__


env/*

.ipynb_checkpoints

haroListener/config/*
haroListener/haro_jsons/*
crunchbase/config/*
crunchbase/crunch_test.ipynb
linkedinSupport/config/*
linkedinSupport/df_checker.ipynb
venv

haroListener/token.pickle
haroListener/client.json

flask_app/scratch_files/emailValidity/test.csv
haroListener/test.csv
*.csv
*.pyc

localclient.json
token.pickle
client.json
HarosDB.sqlite3
flask_app/localclient.json
haroListener/localclient.json

flask_app/configs
.env
flask_app/Database.sqlite3
