:root {
    --lightyear-red: #F04C23;
    --lightyear-yellow: #FCE300;
    --lightyear-gray: #EFEFEF;
    --lighyear-gray-hover: #d9d9d9;
    --lightyear-dark-gray: #D8D8D8;
    --lightyear-dark-gray-hover: #c5c5c5;
    background-color: #FFFFFF;
    font-family: 'Inter';
    --side-padding: .5em;
    font-size: 12pt
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: .5em;
}

.selector-indicator {
    width: .4em;
    background-color: var(--lightyear-dark-gray);
}

.selected-true {
    background-color: var(--lightyear-yellow)
}

.reporter-grid {
    display: inline-grid;
    width: fit-content;
    background-color: var(--lightyear-gray);
    column-gap: .5em;
    row-gap: .25em;
    padding: .5em .85em .5em;
    grid-template-areas:
    "summary-industry-company-wrapper   summary-industry-company-wrapper    recieved"
    "summary-industry-company-wrapper   summary-industry-company-wrapper    deadline"
    "summary-industry-company-wrapper   summary-industry-company-wrapper    ."
    "expand-button                      expand-button                       add-button";
}

.reporter-grid.expanded-true{
    grid-template-areas:
    "summary-industry-company-wrapper   summary-industry-company-wrapper    recieved"
    "summary-industry-company-wrapper   summary-industry-company-wrapper    deadline"
    "summary-industry-company-wrapper   summary-industry-company-wrapper    ."
    "name-email-wrapper                 name-email-wrapper                  add-button"
    "query-wrapper                      query-wrapper                       query-wrapper"
    "requirements-wrapper               requirements-wrapper                requirements-wrapper"
    "expand-button                      expand-button                       expand-button";
}
.summary {
    width: 25em;
    font-weight: bold;
}

.recieved {
    width: 10em;
    text-align: right;
    font-style: italic;
    color: var(--lightyear-red);
}

.deadline {
    width: 10em;
    text-align: right;
    font-style: italic;
    color: var(--lightyear-red);
}

.include-when-expanded {
    display: none;
}

.add-button {
    background-color: var(--lightyear-dark-gray);
    font-weight: bold;
    color: var(--lightyear-red);
    font-size: 1.1em;

    border: none;
    width: 5em;
    height: 2em;
    justify-self: right;
    cursor: pointer;
}

.expand-button {
    height: 2em;
    border: none;
    width: fit-content;
    justify-self: center;
    margin-top: .5em;
    font-size: .75em;
}

.expand-text{
    font-size: 1.5em;
}

.expand-button:hover{
    background: var(--lightyear-gray-hover)
}

.expand-arrow {
    display: inline;
    height: 1.2em;
    padding-right: .5em
}

.expand-text {
    display: inline;
    color: var(--lightyear-red);
    font-style: italic;
    font-weight: bold;
}

.industry-company-wrapper {
    display: flex;
    flex-direction: row;

    column-gap: .7em;
}

.summary-industry-company-wrapper {
    display: flex;
    flex-direction: column-reverse;
    row-gap: .7em;
}
.company {
    font-style: italic
}

.name-email-wraper {
    display: flex;
    flex-direction: row;
}

.email {
    font-size: .75em;
}

.name {
    font-size: .75em;
    font-weight: bold;
}

.query-header {
    color: var(--lightyear-red);
}

.requirements-header {
    color: var(--lightyear-red);
}

.query-wrapper {
    width: 35em;
}

.requirements-wrapper {
    width: 35em;
}

