:root {
    margin: none;
    padding: none;
    --lightyear-red: #F04C23;
    --lightyear-yellow: #FCE300;
    --lightyear-gray: #EFEFEF;
    --lightyear-blue: #3452ff; 
    --background-color: #ffffff;
    --contrast-color: #000;
    font-family: 'Inter';
    scroll-behavior: smooth;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--contrast-color);
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

svg:nth-of-type(2) {
    display: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    text-align: right;
    min-height: 60px;
    height: 100%;
    padding: 0.5rem 0rem;
    font-weight: 700;
    background-color: var(--lightyear-yellow);
    color: var(--contrast-color);
    box-shadow: 0px -100px 125px var(--contrast-color);
}

img {
    min-height: 50px;
}

.hamburger {
    display: none;
    padding-right: 1.5rem;
}

header > section {
    padding: 2rem;
}

header > section:first-of-type {
    display: flex;   
    justify-content: flex-start;
}

header > section:last-of-type {
    display: block;
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;
}

header > section:last-of-type > div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 4rem;
    position: relative;
    overflow: hidden;
}

header > section:last-of-type > div > a {
    text-decoration: none;
    color: var(--contrast-color);
}

header > section:last-of-type > div::after {
    content: "";
    padding: 2px 150px;
    position: absolute;
    top: 0px;
    right: -300%;
    transition: all ease-in 0.25s;
}

header > section:last-of-type > div:hover::after{
    background-color: var(--contrast-color);
    right: 0px;
}

.flex-1{
    flex:1;
}

.flex-6{
    flex:6;
}

main {
    margin-top: 3rem;
}

.cards-wrapper{
    display: flex;
    width: clamp(300px, 90%, 1500px);
    min-width: 300px;
    margin: auto;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0px clamp(0rem, 4rem, 4rem);
    margin: 1rem 5rem;
    border-radius: 0.25rem;
    background-color: var(--lightyear-yellow);
    overflow: hidden;
    position: relative;
    transition: all ease-out 0.125s;
    border: solid 1px var(--lightyear-yellow);
}

.card > div {
    flex: 1;
    z-index: 5;
    min-height: 300px;
    cursor: pointer;
}

.card > div > h1 {
    font-size: 2.75rem;
    margin: 0px;
    padding: 0px;
    color: var(--contrast-color);
}

.card > div > p {
    font-size: 1.125rem;
}

.card:hover {
    border: solid 1px var(--lightyear-yellow);
    color: var(--background-color);
}

.card::after {
    content: "Check it out";
    text-align: center;
    z-index: 1;
    position: absolute;
    padding: 18rem 0.25rem;
    bottom: -150%;
    display: grid;
    place-items: center;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--contrast-color);
    font-size: 4rem;
    font-weight: bold;
    transition: all ease-out 0.25s;
}

.card:hover::after {
    bottom: 0px;
    z-index: 10;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);
}

aside {
    font-size: 2rem;
    background-color: var(--lightyear-yellow);
    font-weight: 700;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    display: none;
    transition: all ease-in-out 100s;
}

aside > div{
    display: flex;
    text-align: right;
    flex-direction: column;
}


aside > div > div {
    position: relative;
    overflow: hidden;
}

aside > div > div::after {
    content: "";
    right: -100%;
    bottom: 0;
    padding: 2px;
    width: clamp(300px, 50vh, 400px);
    background-color: var(--contrast-color);
    position: absolute;
    transition: all ease-in-out 0.25s;
}

aside > div > div:hover::after{
    right: 0px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--lightyear-yellow);
    margin-top: 7.5rem;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

footer > section:last-of-type {
    flex: 1;
    margin-top: 3rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
    width: 100%;
    color: var(--background-color);
    text-align: center;
}

footer > section:last-of-type > hr {
    border-top: solid 2px var(--background-color);
    width: 80%;
    margin: auto;
}

.footerWrapper {
    flex: 1;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}

.footerLeft {
    flex: 3;
    min-width: 300px;
    min-height: 600px;
    position: relative;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 1.5rem;
    text-align: left;
}

.footerLeft > hr {
    width: 62.5%;
    border-top: solid 2px var(--background-color);
}

.footerLeft-Top {
    width: 80%;
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
}

.footerLeft > section:first-of-type {
    flex: 1;
    text-align: left;
}

.footerLeft-Top > section:first-of-type > img {
    min-width: 100px;
    min-height: 100px;
}

.footerLeft-Top > section:last-of-type {
    flex: 2;
    min-width: 300px;
    text-align: left;
}

.footerLeft-Top > section:last-of-type > svg {
    padding-left: 1rem;
    flex: 1;
    transition: all 0.1s ease-out;
}

.footerLeft-Top > section:last-of-type > svg:hover {
    fill: var(--background-color);
}

.footerLeft-Top > section {
    min-width: 200px;
}

.footerLeft-Bottom {
    width: 80%;
    flex: 2;
    min-width: 300px;
    display: flex;
}

.footerLeft-Bottom > section  {
    flex: 1;
    display: grid;
    place-content: center flex-start;
}

.footerLeft-Bottom > section > h2 {
        margin: 0px;
        min-height: 125px;
}

.footerRight {
    flex: 2;
    min-width: 200px;
    min-height: 600px;
    border: solid 2px var(--background-color);
    text-align: center;
    position: relative;
}

.footerRight > section {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.footerRight > section > div {
    flex: 1;
}

.footerRight > section > div:first-of-type {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: flex-start;
}

.footerRight > section > div:first-of-type > input {
    flex: 1;
    width: 45%;
    height: 50%;
    margin: 0.25rem;
}

.footerRight > section> div:nth-of-type(2) > input, .footerRight > section > div:nth-of-type(3) > input {
    width: 87.5%;
    height: 50%;
}


.footerRight > button {
    position: absolute;
    width: 90%;
    left: 5%;
    padding: 2rem 0rem;
    bottom: 1rem;
    background-color: var(--background-color);
    color: var(--contrast-color);
    border: none;
    font-weight: 800;
    margin: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 2rem;
}

.footerRight > h1 {
    font-size: 2.5rem;
    color: var(--background-color);
}

@media screen and (max-width: 1900px) {
    .hamburger {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header > section:last-of-type {
        display: none;
    }
}

@media only screen and (max-width: 900px) {

    .card {
        margin: 0px;
        margin-top: 2rem;
        padding: 0rem 1rem;
    }

    .footerWrapper {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footerWrapper > section {
        margin: auto;
        width: 90%;
    }

    .footerLeft {
        color: var(--background-color);
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    .footerLeft > hr {
        width: 100%;
        border-top: solid 2px var(--background-color);
    }

    .footerRight > section > div:first-of-type > input {
        flex: 1;
        width: 45%;
        height: 50%;
    }
    
}

@media only screen and (max-width: 550px) {

    .cards-wrapper {
        width: 80%;
    }
    
}

@media only screen and (max-width: 400px) {

    .cards-wrapper {
        width: 90%;
    }

}
