/* 
    - Basic HTML
    - Styling
    - Functionality (Backend)
    - Animation? 
    - Media

    - Sign up Page
    - 404 Page
*/
:root {
    margin: none;
    padding: none;
    --lightyear-red: #F04C23;
    --lightyear-yellow: #FCE300;
    --lightyear-gray: #EFEFEF;
    --lightyear-blue: #3452ff; 
    --background-color: #FFFFFF;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    height: 100%;
}

section {
    flex: 1;
    display: grid;
    min-width: 500px;
}

section:last-of-type {
    background-color: var(--lightyear-yellow);
}

section > div {
    width: clamp(300px, 80%, 600px);
}
/* Log in */
.login {
    place-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*  Sign up */
.signUp {
    place-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--background-color);
}

.signUp > div{
    flex: 1;
}

.signUp > div:last-of-type {
    margin-top: 2rem;
    padding: 40px 20px;
}

.signUp > div > h1 {
    font-size: 4rem;
}

.signUp > div > h1 > span {
    color: var(--lightyear-red);
    font-weight: 800;
    text-decoration: underline var(--background-color) 0.5rem;
}

.signUp > div > p {
    font-size: 1.75rem;
    text-align: left;
}

.signUp > div > button {
    background-color: var(--background-color);
    color: var(--lightyear-red);
    border: none;
    font-size: 2.25rem;
    padding: 20px 40px;
    border-radius: 0.25rem;
    font-weight: 800;
}

/* Media Fitting */