/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.5rem;
}
 
body::-webkit-scrollbar-track {
    background-color: var(--lightyear-yellow);
}
 
body::-webkit-scrollbar-thumb {
    background-color: var(--lightyear-red);
    border-radius: 20px;
}

/* General Elements */
:root {
    margin: none;
    padding: none;
    --lightyear-red: #F04C23;
    --lightyear-yellow: #FCE300;
    --lightyear-gray: #EFEFEF;
    --lightyear-blue: #3452ff; 
    --background-color: #FFFFFF;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: none;
}

h1 {
    margin: 0px;
    color: var(--lightyear-red);
}

h2 {
    margin: 0px;
}

input {
    width: clamp(80px, 70%, 800px);
    padding: auto;
    margin: auto;
    margin-top: 20px;
}

header{
    display:flex;
    z-index: 20;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--lightyear-yellow);
    position: sticky;
    top: 0px;
}

ul {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightyear-yellow);
    color: var(--background-color);
    padding: 20px 0px;
    margin-top: 20px;
}

hr  {
    margin: 20px 0px;
    color: var(--background-color);
    border: solid var(--background-color) 1px;
}

span {
    color: var(--lightyear-blue);
    text-decoration: underline 3px var(--lightyear-blue);
}

/* Body styling */

body > div {
    flex: 1;
    width: clamp(100px, 80%, 1000px);
    padding: 0% 20%;
    padding-top: 5%;
}

body > div:first-child {
    padding: 0 20%;
}

/* Drop-zone */
#drop_zone {
    margin-bottom: 20px;
    border-radius: 0.25rem;
    height: 400px;
    display: grid;
    place-content: center;
    border: dashed 2px var(--lightyear-red);
}

#drop_zone > div {
    width: 100%;
    height: 100%;
    color: var(--lightyear-red);
}

#drop_zone > div > label {
    cursor: pointer;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Header */
header > div {
    flex: 1;
    margin: 20px 5%;
}

header > div:last-child{ 
    text-align: end;
}

header > div:first-child {
    color: var(--lightyear-red)
}

header > div:first-child > h1 {
    color: var(--background-color);
}

ul > li {
    font-size: 1.25rem;
    font-weight: 800;
    display: inline;
    width: 200px;
}

ul > li > a {
    text-decoration: none;
    color: var(--background-color);
}

/* Footer */
footer > div {
    flex: 1;
    width: clamp(200px, 80%, 1200px);
    text-align: center;
}

footer > div:first-child {
    width: auto;
}

footer > div:first-of-type {
    display: flex;
    flex-direction: column;
}

footer > div:first-of-type > div {
    flex: 1;
}

footer > div:first-of-type > div:nth-of-type(2) {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

footer > div:first-of-type > div > svg {
    flex: 1;
    fill: var(--background-color);
    margin: 0px 20px;
}

/* Up Button | To be replaced with SVG */ 
#upBtn {
    color: var(--lightyear-yellow);
    border-radius: 1000px;
    background-color: var(--lightyear-red);
    display: grid;
    place-content: center;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    width: 20px;
    height: 20px;
}

#upBtn > p {
    margin: 0px;
}

/* Submit Button */
#submitBtn {
    background-color: var(--lightyear-red);
    color: var(--background-color);
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    border: none;
    margin-bottom: 10%;
}

/* Directions */
.directions{ 
    background-color: var(--lightyear-gray);
    border-radius: 0.25rem;
    color: black;
    padding: 60px 60px;
    border: solid black 1px;
}

/* Inputs */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--lightyear-red);
  outline: 0;
  font-size: 1.3rem;
  color: var(--lightyear-red);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--lightyear-red);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--lightyear-red), var(--lightyear-red));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--lightyear-red);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* Loader */

.loader {
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  background-color: var(--lightyear-yellow);
  transition: all 1s ease-out;
  cursor:progress;
}

.delay-100 { 
  animation-delay: 1s;
}

.delay-200 {
  transition-delay: 200ms;
}

.ball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  margin: 2rem; 
}

.ball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--lightyear-red);
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}


@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

/* Media Fitting | Mainly for Font-size for Phones*/