:root{
    font-family: 'Inter';
    --lysRed: #F04C23;
    --lysYellow: #FCE300;
    --lysGray: #dedede;
    --lysBlue: #3452ff; 
    --background-color: #efefef;
}

.message{
    margin-top: 7em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    margin-top: 4em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.return-btn{
    font-weight: bold;
    width: fit-content;
    background-color: var(--lysGray);
    color: var(--lysBlue);
    padding: .5em;
    border-radius: .75em;
    text-decoration: none;
}