:root {
  --lightyear-red: #F04C23;
  --lightyear-yellow: #FCE300;
  --lightyear-gray: #b6b6b6;
  --lightyear-blue: #3452ff;
  --background-color: #F7F8FC;
  --contrast-color: #000;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  font-size: 11pt;
}

.message{
    margin-top: 7em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    margin-top: 4em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.return-btn{
    font-weight: bold;
    width: fit-content;
    background-color: var(--background-color);
    color: var(--lightyear-blue);
    padding: .5em;
    border-radius: .75em;
    text-decoration: none;
}