:root {
  --lightyear-red: #F04C23;
  --lightyear-yellow: #FCE300;
  --lightyear-gray: #b6b6b6;
  --lightyear-blue: #3452ff;
  --background-color: #F7F8FC;
  --contrast-color: #000;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  font-size: 11pt;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: inherit;
    color: var(--lightyear-red);
    color: transparent;
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;
}

section {
    place-self: center;
    text-align: center;
}

h1 {
    font-size: 8rem;
    -webkit-text-stroke: 2px var(--lightyear-red);
    background-color: var(--background-color);
    margin: 0;
}

svg {
    fill: transparent;
    transform: rotateY(180deg);
    stroke: var(--lightyear-red);
    transition: all ease-out 0.5s;
}

span {
    margin-left: 2rem;
}

.goBack {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--background-color);
    -webkit-text-stroke: 2px var(--lightyear-red);
    transition: all ease-out 0.5s;
}

.goBack:hover > svg, .goBack:hover{
    stroke: var(--lightyear-blue);
    -webkit-text-stroke: 2px var(--lightyear-blue);
}

/* Media Fitting */
@media only screen and (max-width: 1000px) {
    h1 {

    }

    .goBack {

    }
}

@media only screen and (max-width: 600px) {
    h1 {

    }

    .goBack {

    }
}