body {
  margin: 0;
  background-color: var(--background-color);
}

:root {
  --lightyear-red: #f04c23;
  --lightyear-yellow: #fce300;
  --lightyear-gray: #b6b6b6;
  --lightyear-blue: #3452ff;
  --background-color: #f7f8fc;
  --contrast-color: #000;
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
  font-size: 11pt;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#page-body {
  padding: 2.5em 5em 5em 5em;
  background-color: #f7f8fc;
  overflow: hidden;
  height: 100%;
  /*
    body::-webkit-scrollbar{
        display: none;
    }
*/
  /* ---------------------New Code------------------------- */
  /* Add a small white rectangle under the div */
  /* ---------------------New Code------------------------- */
}

#page-body .bigger-wrapper {
  margin-left: 5em;
}

#page-body hr {
  margin: 20px 0px;
  color: var(--lightyear-yellow);
  border: solid var(--background-color) 1px;
}

#page-body .sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 0em;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#page-body h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 20px 0 30px 0;
}

#highlight {
  border-bottom: 10px solid transparent;
  border-image: url(../img/YellowLine.png) 30 stretch;
}

#page-body .none-to-display-error {
  font-weight: bold;
  width: 94%;
  text-align: center;
  text-justify: center;
  vertical-align: middle;
  height: 5em;
  padding-top: 2em;
  font-size: 2em;
}

#page-body #haro-counter {
  font-weight: bold;
  padding-top: 0.5em;
  margin-bottom: 2em;
  margin-left: 1.25em;
  position: absolute;
  bottom: 0px;
}

#page-body #last-updated {
  color: var(--lightyear-gray);
  padding-top: 0.5em;
  margin-bottom: 2em;
  margin-right: 6.2em;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#page-body #haro-table-body {
  border: 1px solid rgba(164, 166, 179, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  overflow: auto;
  width: 100%;
  border-radius: 8px;
}

#page-body #haro-table-body:not(.underflown) {
  height: 50%;
  border-radius: 8px;
}

#page-body #haro-table-body::-webkit-scrollbar {
  display: none;
}

#page-body .head-element {
  font-weight: bold;
  padding: 0.5em;
}

#page-body #summary-col-label {
  padding-left: 1em;
}

#page-body .table-head {
  display: -ms-grid;
  display: grid;
  grid-template-areas: ". Summary MediaOutlet Category DateReceived  Deadline expand-button";
  -ms-grid-columns: 3% 41% 16% 16% 10% 10% 4%;
  grid-template-columns: 3% 41% 16% 16% 10% 10% 4%;
}

#page-body .haro-row {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "save-button Summary MediaOutlet Category DateReceived  Deadline expand-button";
  -ms-grid-columns: 3% 41% 16% 16% 10% 10% 4%;
  grid-template-columns: 3% 41% 16% 16% 10% 10% 4%;
  -ms-grid-rows: 4em;
  grid-template-rows: 4em;
  border-bottom: solid 1px #a4a6b36b;
  width: 100%;
  width: 100%;
  width: 100%;
}

#page-body .haro-row.expanded {
  grid-template-areas:
    "save-button Summary MediaOutlet Category DateReceived  Deadline expand-button"
    "details     details details     details  details       details  details";
}

#page-body .haro-row > * {
  overflow-x: hidden;
}

#page-body .save-button {
  background: url("../img/bookmark.svg") 1.5em 1.5em no-repeat;
  cursor: pointer;
}

#page-body .save-button:hover:not(.saved) {
  background: url("../img/bookmark_hover.svg") 1.5em 1.5em no-repeat;
  cursor: pointer;
}

#page-body .save-button.saved {
  background: url("../img/bookmark_saved.svg") 1.5em 1.5em no-repeat;
}

#page-body .haro-row:nth-child(odd) {
  background-color: white;
}

#page-body .haro-row:nth-child(odd):hover {
  background-color: rgba(220, 192, 192, 0.08);
}

#page-body .haro-row.expanded:nth-child(odd):hover {
  background-color: rgb(255, 255, 255);
}

#page-body .haro-row:nth-child(even) {
  background-color: rgba(208, 208, 208, 0.2);
}

#page-body .haro-row:nth-child(even):hover {
  background-color: rgba(192, 211, 220, 0.08);
}

#page-body .haro-row.expanded:nth-child(even):hover {
  background-color: rgba(208, 208, 208, 0.2);
}

#page-body .haro-row:last-child.haro-row:last-child {
  border-bottom: none;
}

#page-body .haro-row > * {
  padding: 0.5em;
}

#page-body .Summary {
  padding-left: 1em;
}

#page-body .search-tab {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
}

#page-body .search-tab:not(.selected):hover {
  background-color: rgba(162, 158, 158, 0.7);
}

#page-body #keywords {
  font-family: inherit;
}

#page-body .search-menu {
  /* ----------------- Modified ----------------- */
  position: relative;
  z-index: 1;
  margin-top: 0;
  /* ----------------- Modified ----------------- */
  margin-bottom: 1em;
  font-family: inherit;
  padding-top: 1em;
  padding-bottom: 1em;
  display: -ms-grid;
  display: grid;
  padding-top: 0.5em;
  border-top: 0;
  border-radius: 0px 8px 8px 8px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgba(164, 166, 179, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

#image-placement img {
  position: absolute;
  top: 70px;
  right: 20px;
  height: 18em;

  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#page-body .search-menu:not(.expanded) {
  padding-right: 1em;
  padding-left: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  grid-template-areas:
    "keywords-label     ."
    "keywords   filter-btn";
}

#page-body .search-menu.expanded {
  width: 100%;
  grid-template-areas:
    "keywords-label    mediaOutlet-label category-label dateReceived-label date-checkbox search-collapse-button"
    "keywords  mediaOutlet       category       dateReceived    dateReceived    search-collapse-button";
  -ms-grid-columns: 39% 19% 19% 11% 8% 4%;
  grid-template-columns: 39% 19% 19% 11% 8% 4%;
}

#page-body .search-menu.expanded #keywords-label {
  margin-left: 1em;
}

#page-body .filter-btn.filter-btn {
  height: 3rem;
  background-color: white;
  border: 2px solid #a4a6b36b;
  border-radius: 8px;
  font-weight: bold;
  padding: 0 0.7em;
  cursor: pointer;
  padding-top: 4px;
}

#page-body .filter-btn.filter-btn:hover {
  background-color: #a4a6b33b;
  border: 2px solid #a4a6b33b;
}

#page-body .search-label {
  font-weight: bold;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-bottom: 0.2em;
  margin-right: 1em;
}

#page-body .search-bar {
  border: 1px solid #a4a6b36b;
  border-radius: 8px;
  height: 3em;
}

#page-body .svg-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#page-body input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e2e3e4;
  opacity: 1;
  /* Firefox */
  font-weight: bold;
}

#page-body input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e2e3e4;
  opacity: 1;
  /* Firefox */
  font-weight: bold;
}

#page-body input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e2e3e4;
  opacity: 1;
  /* Firefox */
  font-weight: bold;
}

#page-body input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e2e3e4;
  opacity: 1;
  /* Firefox */
  font-weight: bold;
}

#page-body input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e2e3e4;
  font-weight: bold;
}

#page-body input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e2e3e4;
  font-weight: bold;
}

#page-body input.search-bar.search-bar {
  background-color: #f7f8fc;
}

#page-body .search-menu.expanded #keywords {
  margin-left: 14.5px;
  width: 80%;
}

#page-body .search-menu:not(.expanded) #keywords {
  width: 31em;
}

#page-body #keywords {
  background: url("../img/MagnifyingGlass.svg") 0.4em 0.7em no-repeat;
  padding-left: 2.3em;
}

#page-body #mediaOutlet,
#page-body #category {
  width: 80%;
  padding-left: 2.5em;
}

#page-body #mediaOutlet {
  background: url("../img/Newspaper.svg") 0.4em 0.7em no-repeat;
  margin-right: 1em;
}

#page-body #mediaOutlet-label {
  position: relative;
}

#page-body #category {
  background: url("../img/Briefcase.svg") 0.4em 0.7em no-repeat;
  margin-right: 1em;
}

#page-body #search-collapse-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background: url("../img/leftarrow.svg") 50% 60% no-repeat;
}

#page-body #search-collapse-button:hover {
  background: url("../img/leftarrow_hover.svg") 50% 60% no-repeat;
  cursor: pointer;
}

#page-body #dateReceived {
  width: 80%;
  padding-left: 2.5em;
  background: url("../img/CalendarCheck.svg") 0.2em 0.7em no-repeat;
}

#page-body #date-checkbox {
  position: absolute;
  right: 50%;
  margin-right: -2.9em;
  top: 0.1em;
}

#page-body #category #category-label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#page-body .details {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "Journalist-label Journalist"
    "Email-label Email"
    "Query-label Query"
    "Requirements-label Requirements";
  row-gap: 0.75em;
  -webkit-column-gap: 0.75em;
  column-gap: 0.75em;
  width: inherit;
  padding: 1em;
  padding-right: 3em;
  padding-left: 2em;
  border-top: solid 1px #d9dadc;
}

#page-body .details-label {
  font-weight: bold;
}

#page-body .copyButton {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 22.5px;
  height: 22.5px;
  background: url(../img/CopySimple.svg) no-repeat center;
  background-size: 22.5px;
  vertical-align: middle;
}

#page-body .copyButton:hover {
  background: url(../img/CopySimpleDark.svg) no-repeat center;
  background-size: 22.5px;
}

#page-body .copyButton:active {
  background-size: 25px;
}

#page-body .tooltip-txt {
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 143px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1.5px 0;
  transition: 0s background-color;
  background-color: #d55eed;

  /* Position the tooltip */
  z-index: 1;
  position: relative;
}

#page-body .copyButton:hover ~ .tooltip-txt {
  visibility: visible;
}

#page-body .hidden {
  display: none;
}

#page-body button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

#page-body .disabled {
  opacity: 0.5;
}

#page-body .page-nav {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#page-body .page-nav-btn.page-nav-btn {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1em;
  border: 2px solid #a4a6b36b;
  border-radius: 8px;
  padding: 0.6em;
  cursor: pointer;
}

#page-body .page-nav-btn > svg {
  position: relative;
  bottom: 0.1em;
}

.arrow-hover:hover {
  cursor: pointer;
}

#page-body .page-nav.bottom-nav {
  margin-top: 2em;
}

#page-body .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#page-body .search-tab.selected {
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 0em;
  padding: 0;
  /* From Figma */
  width: 109px;
  height: 44px;
  /*Adjusted for esthetics */
  background: #ffffff;
  border: 1px solid rgba(164, 166, 179, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

#page-body .search-tab.selected::after {
  position: relative;
  z-index: 2;
  background-color: white;
  height: 6px;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}

#page-body .search-tab {
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 0em;
  padding: 0;
  /* From Figma */
  width: 109px;
  height: 46px;
  /*Adjusted for esthetics */
  background: rgba(215, 215, 215, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#page-body .search-tab:not(.selected) {
  opacity: 0.65;
}

#page-body #fresh-btn {
  border-radius: 8px 0px 0px 0px;
}

#page-body #all-btn {
  border-radius: 0px 0px 0px 0px;
  padding-right: 3px;
}

#page-body #saved-btn {
  border-radius: 0px 8px 0px 0px;
}

body::-webkit-scrollbar {
  display: none;
}

#header #header html {
  width: 100%;
  height: 100%;
}

#header #header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
  width: 100%;
  font-weight: 700;
  background-color: var(--lightyear-yellow);
  color: var(--contrast-color);
}

#header #header .alignment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
  width: 100%;
  margin-left: 2em;
  margin-right: 2.4em;
  min-height: 58.66px;
}

#header #header .alignment-wrapper > section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#header #header .alignment-wrapper > section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#header #header header > section:last-of-type {
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#header #header a {
  text-decoration: none;
  color: black;
}

#header #header .flex-6 > div:hover::after {
  background-color: var(--contrast-color);
  right: 0px;
}

#header #header .flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#header #header .flex-6 {
  padding-top: 0.75em;
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

#header #header .flex-6 > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: fit-content;
  text-align: center;
}

#header #header .flex-6 > *:not(#logout-svg) {
  margin-right: 2rem;
  margin-top: 0.5em;
  overflow: visible;
}

#header #header #logout-svg {
  padding-top: 0.65em;
}

#header #header .flex-6 > *::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#header #header .flex-6 > *:not(#logout-svg)::after {
  height: 3px;
  bottom: -0.25em;
}

#header #header #logout-svg::after {
  height: 3px;
}

#header #header .flex-6 > *:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

#header #header .flex-6 > *::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
}

#confetti-lottie {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

#loader-lottie {
  position: relative;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
}

/* End Header */
/* .load-screen { */
/* Scrollbar */
/* General Elements */
/* Body styling */
/* Drop-zone */
/* Header */
/* Footer */
/* Up Button | To be replaced with SVG */
/* Submit Button */
/* Directions | Instructions */
/* .guidelines {
        border: 2px solid black;
        width: 640px;
        margin: 0;
    } */
/* Inputs */
/* reset input */
/* Toast */
/* Modal */
/* Loader */
/* } */

.load-screen body::-webkit-scrollbar {
  width: 0.5rem;
}

.load-screen body::-webkit-scrollbar-track {
  background-color: var(--lightyear-yellow);
}

.load-screen body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

.load-screen :root {
  margin: none;
  padding: none;
  --lightyear-red: #f04c23;
  --lightyear-yellow: #fce300;
  --lightyear-gray: #d4d4d4;
  --lightyear-blue: #3452ff;
  --background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

.load-screen body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
  padding: none;
}

.load-screen h1 {
  margin: 0px;
  color: black;
}

.load-screen h2 {
  margin: 0px;
  color: black;
}

.load-screen p {
  font-size: 1.25rem;
}

.load-screen hr {
  margin: 20px 0px;
  color: var(--lightyear-yellow);
  border: solid var(--background-color) 1px;
}

.load-screen header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--lightyear-yellow);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.load-screen ol {
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.load-screen ul {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
}

.load-screen div > div {
  font-size: 1.25rem;
}

.load-screen footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--lightyear-yellow);
  color: var(--background-color);
  padding: 20px 0px;
  margin-top: 20px;
}

.load-screen span {
  -webkit-text-decoration: underline 3px var(--lightyear-yellow);
  text-decoration: underline 3px var(--lightyear-yellow);
}

.load-screen body > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: clamp(100px, 80%, 1000px);
  padding: 0% 20%;
  padding-top: 3%;
}

.load-screen body > div:first-child {
  padding: 0 20%;
}

.load-screen #drop_zone {
  margin-bottom: 0;
  border-radius: 0.25rem;
  height: 400px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: dashed 2px black;
}

.load-screen #drop_zone > div {
  width: 100%;
  height: 100%;
  color: black;
}

.load-screen #drop_zone > div > label {
  cursor: pointer;
}

.load-screen .inputFile {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.load-screen header > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 20px 5%;
}

.load-screen header > div:last-child {
  text-align: end;
}

.load-screen header > div:first-child {
  color: black;
}

.load-screen header > div:first-child > h1 {
  color: var(--background-color);
}

.load-screen ul > li {
  font-size: 1.25rem;
  font-weight: 800;
  display: inline;
  width: 200px;
}

.load-screen ul > li > a {
  text-decoration: none;
  color: var(--background-color);
}

.load-screen footer > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: clamp(200px, 80%, 1200px);
  text-align: center;
}

.load-screen footer > div:first-child {
  width: auto;
}

.load-screen footer > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.load-screen footer > div:first-of-type > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.load-screen footer > div:first-of-type > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.load-screen footer > div:first-of-type > div > svg {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  fill: var(--background-color);
  margin: 0px 20px;
}

.load-screen #upBtn {
  color: var(--lightyear-yellow);
  border-radius: 1000px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  width: 20px;
  height: 20px;
  font-weight: 800;
}

.load-screen #upBtn > p {
  margin: 0px;
}

.load-screen #submitBtn {
  background-color: var(--lightyear-yellow);
  color: black;
  padding: 20px 40px;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  border-color: var(--lightyear-yellow);
  margin-bottom: 10%;
  cursor: pointer;
  font-weight: 800;
  display: block;
  margin: auto;
}

.load-screen #submitBtn:hover {
  background-color: black;
  color: var(--lightyear-yellow);
  border: var(--lightyear-yellow) 2px solid;
}

.load-screen .instruction {
  text-align: right;
  display: -ms-grid;
  display: grid;
  place-content: end;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.load-screen .instruction > div {
  cursor: pointer;
  background-color: var(--lightyear-yellow);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 100rem;
  margin: 0px;
}

.load-screen .form__group {
  position: relative;
  padding: 35px 0 0;
  margin-top: 10px;
  width: 100%;
}

.load-screen .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.load-screen .form__field::-webkit-input-placeholder {
  font-size: 1rem;
  color: var(--lightyear-gray);
}

.load-screen .form__field:-ms-input-placeholder {
  font-size: 1rem;
  color: var(--lightyear-gray);
}

.load-screen .form__field::-ms-input-placeholder {
  font-size: 1rem;
  color: var(--lightyear-gray);
}

.load-screen .form__field::placeholder {
  font-size: 1rem;
  color: var(--lightyear-gray);
}

.load-screen .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.load-screen .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.load-screen .form__label:after {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--lightyear-red);
  content: " *";
  display: inline;
}

.load-screen .required__label {
  color: black;
}

.load-screen .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, black, black);
  border-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(black),
    to(black)
  );
  border-image: linear-gradient(to right, black, black);
  border-image-slice: 1;
}

.load-screen .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.load-screen .form__field:required,
.load-screen .form__field:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.load-screen .toast {
  position: fixed;
  bottom: clamp(30px, 5%, 90px);
  left: clamp(10px, 2%, 50px);
  width: clamp(200px, 50%, 400px);
  height: clamp(100px, 50%, 200px);
  background-color: var(--lightyear-gray);
  border-radius: 0.2rem;
  color: black;
}

.load-screen .toast > div {
  width: clamp(200px, 1000%, 400px);
  height: clamp(100px, 1000%, 200px);
  border-radius: 0.2rem;
}

.load-screen .toast-loader {
  width: 100%;
  height: 10px;
  border-radius: 0.1rem 0.1rem 0rem 0rem;
  background-color: var(--lightyear-yellow);
  -webkit-transition: width ease-out 1.2s;
  transition: width ease-out 1.2s;
}

.load-screen .toast-content {
  width: calc(100% - 40px);
  height: calc(100% - 30px);
  background-color: var(--lightyear-gray);
  padding: 10px 20px;
}

.load-screen .toast-loader-end {
  width: 0%;
}

.load-screen .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  background-color: #00000062;
  visibility: hidden;
  z-index: 100;
}

.load-screen .modal > div {
  place-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 20px;
  width: clamp(160px, 80%, 800px);
  height: clamp(80px, 80%, 450px);
  border-radius: 0.2rem;
}

.load-screen .modal > div > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.load-screen .modal > div > div:first-of-type > h1 {
  font-size: 2rem;
  padding: 1rem;
}

.load-screen .modal > div > div:nth-of-type(2) {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.load-screen .modal > div > div:last-of-type {
  text-align: right;
}

.load-screen .modal > div > div:last-of-type > button {
  background-color: black;
  border: none;
  border-radius: 0.25rem;
  color: var(--background-color);
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 800;
}

.load-screen ol > li {
  font-size: 1.25rem;
}

.load-screen .loader {
  z-index: 101;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--lightyear-yellow);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.load-screen .delay-100 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.load-screen .delay-200 {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.load-screen .ball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  margin: 2rem;
}

.load-screen .ball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
  animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

#getDateUpdate {
  display: none;
}

#help-circle {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  border: 1px var(--lightyear-yellow) solid;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
  background: var(--lightyear-yellow);
  text-decoration: none;
}

#nav-selected {
  border-bottom: black solid 3.5px;
}

/* ---------------------Header------------------------- */
/*# sourceMappingURL=haroTable3.css.map */
