:root {
    
    font-family: 'Inter';
    font-size: 12pt;
    margin: .5em;
    --lysRed: #F04C23;
    --lysYellow: #FCE300;
    --lysGray: #EFEFEF; 
    --lysDGray: #d8d8d8;
}

button {
  display: inline;
  font-weight: bold;
  width: fit-content;
  background-color:#E5E5E5;
  border: none;
  padding: .5em;
  color:black;
}

.page-header{
  margin-left: 10.5em;
}

.haros-table {
    margin-left: 10.5em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .5em;
}

.datum-grid {
    border-left: .4em solid var(--lysDGray);
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--lysGray);
    padding: .25rem .5rem .25rem;
    cursor: pointer;
}

.datum-grid.used-true {
    border-left: .4rem solid var(--lysYellow);
}

.datum-grid > * {
  margin-bottom: .5rem;
}

.header{
    display: flex;
    flex-direction: row;
    margin-bottom: .25rem;
    width: fit-content;
}

.summary_mediaOutlet_wrapper{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 60em;
}

.Summary {
  justify-self: flex-start;
  font-weight: bold;
  padding-top: .4rem;
}

.expand-button {
  border: none;
  margin-right: .5em;
  font-weight: bold;
  cursor: pointer;
  color: black;
  background-color: var(--lysGray);
}



.add-button{
  margin-top: .3rem;
  height: fit-content;
  color: black;
  font-weight: bold;
  width: 5rem;
  background-color: var(--lysDGray);
  border: none;
  cursor: pointer;
  padding-bottom: .4rem;
}



.hide {
  display: none;
}

.MediaOutlet{
  padding-right: 1rem;
  padding-top: .5rem;
  justify-self: flex-end;
  text-align: right;
}

.query-wrapper{
  width: 57rem;
}

.query-header{
  color: var(--lysRed);
}

.requirements-wrapper{
  width: 57rem;
}
.requirements-header{
  color: var(--lysRed);
}
.Name{
  font-weight: bold;
  margin-right: 0.5rem;
}
.DateReceived{
    margin-right: 1.5rem;
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}


.search-bar{
    margin-left: 10.5em;
    padding: .5em 1em .5em;
    background: var(--lysGray);
    display: inline-flex;
    width: fit-content;
    flex-direction: row;
    height: fit-content;

}
.search-wrapper{
    margin-right: 1.5em;
}

.search {
    border: 1px solid black;
    border-radius: .5px;
    height: fit-content;
}

.search-button{
    display: inline;
    background-color: var(--lysDGray);
    color: black;
    font-weight: bold;
    width: 6.5em;
    height: 2em;
    border: none;
    justify-self: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

.search-button:hover{
    background-color: #dcdcdc;
    color: #e3684a;
}

.haros-menu{
    margin-left: 10.5em;
    margin-bottom: 1em;
}
.haros-nav{
    display: inline-block;
    width: fit-content;
    padding: .5em;
    font-weight: bold;
    color:black;
    background-color:#E5E5E5;
    margin-right: 1em; 
    border: none;
}

.page-nav{
    width: fit-content;
}
.page-nav-btn {
    background-color:#E5E5E5;
    margin-right: 1em; 
    margin-bottom: .75em;
    margin-top: 2em;
}


.top-nav {
  display: inline-block;
  margin-left: 44.5em;
}

.bottom-nav{
  margin-left: auto;
  margin-right: auto;
}

.page-nav-btn:hover{
  background-color:#dcdcdc;
}

.item-count{
  margin-left: 10.5em;
  display: inline;
  height: 2em;
  padding: .5em;
}

.item-count-input {
  width: 3em;
}