:root{
    font-family: 'Mulish';
    font-size: 11pt;
}

.bigger-wrapper{
    display: flex;
    flex-direction: row;
}
.margin-bar{
    display:block;
    width: 5em;
}

body{
    background-color: #F7F8FC
}

h1{
    font-size: 1.5em;
}

#main-table{
    border-collapse: collapse;
    margin: none;
}


#haro-table-body{

    border: 2px solid #EDEEF1;
    border-radius: 8px;
}
.head-element{
    font-weight: bold;
    padding: .5em;
}
.table-head{
    display: grid;
    grid-template-areas:
    '. Summary MediaOutlet Category DateReceived  Deadline expand-button';
    grid-template-columns: 3em 40em 15em 15em 10em 7em 4em;
}
.haro-row {
    display: grid;
    grid-template-areas:
    'save-button Summary MediaOutlet Category DateReceived  Deadline expand-button';
    grid-template-columns: 3em 40em 15em 15em 10em 7em 4em;
    grid-template-rows: 4em;
    border-top: solid 1px #A4A6B36B
}
.haro-row.expanded {
    grid-template-areas:
    'save-button Summary MediaOutlet Category DateReceived  Deadline expand-button'
    'details     details details     details  details       details  details';
}

.save-button {
    background: url("../img/bookmark.svg") 1.5em 1.5em no-repeat;
}

.save-button:hover:not(.saved){
    background: url("../img/bookmark_hover.svg") 1.5em 1.5em no-repeat;
}

.save-button.saved{
    background: url("../img/bookmark_saved.svg") 1.5em 1.5em no-repeat;
}

.haro-row:nth-child(odd) {
    background-color: white;
}

.haro-row:nth-child(odd):hover {
    background-color: rgba(196, 196, 196, 0.03);
}

.haro-row:nth-child(even) {
    background-color: rgba(196, 196, 196, 0.12); 
}

.haro-row:nth-child(even):hover {
    background-color: rgba(196, 196, 196, 0.18);
}

.haro-row > * {
    padding: .5em;
}

.Summary {
    padding-left: 1em;
}




.search-tab{
    text-align: center;
    width: fit-content;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}

.search-tab:not(.selected):hover{
    background-color: rgba(215, 215, 215, 0.7);
}

.search-menu{
    /* ----------------- Modified ----------------- */
    position:relative;
    z-index:1;
    margin-top: 0;
    /* ----------------- Modified ----------------- */
    margin-bottom: 2em;
    padding: 1em;
    padding-left: 2em;
    display: grid;
    column-gap: 1em;
    border-top:0;
    border-radius: 0px 8px 8px 8px;
    background-color: white;
    width: fit-content;
    border: 1px solid rgba(164, 166, 179, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.search-menu:not(.expanded){
    grid-template-areas:
    'keywords-label     .'
    'keywords   filter-btn';
}
.search-menu.expanded{
    grid-template-areas:
    'keywords-label    mediaOutlet-label category-label dateReceived-label date-checkbox .'
    'keywords  mediaOutlet       category       dateReceived    dateReceived    search-collapse-button';
}

.filter-btn.filter-btn {
    height: 3rem;
    background-color: white;
    border: 2px solid #A4A6B36B;
    border-radius: 8px;
    font-weight: bold;
}

.filter-btn.filter-btn:hover{
    position: relative;
    left: -1px;
    margin-right: -2px;
    background-color: rgba(196, 196, 196, 0.06);
    border: 3px solid #9a9ca96b;
}

.search-label{
    font-weight: bold;
}

.search-bar {
    border: 1px solid #A4A6B36B;
    border-radius: 8px;
    height: 3em;
    padding-left: 1em;
}
.svg-container {
    width: fit-content;
    height: fit-content;
    
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E2E3E4;
    opacity: 1; /* Firefox */
    font-weight: bold;
  }
  
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E2E3E4;
    font-weight: bold;
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: #E2E3E4;
    font-weight: bold;
  }

#keywords{
    width: 40em;
    background: url("../img/MagnifyingGlass.svg") .4em .7em     no-repeat;
    padding-left: 2.3em;
}
#mediaOutlet, #category{
    width: 13.5em;
    padding-left: 2.3em;
}
#mediaOutlet {
    background: url("../img/Newspaper.svg") .4em .7em     no-repeat;
}
#category{
    background: url("../img/Briefcase.svg") .4em .7em     no-repeat;
}
#search-collapse-button{
    border: none;
    background-color: white;
    background: url("../img/leftarrow.svg")  0 1em no-repeat;
}
#search-collapse-button:hover{
    background: url("../img/leftarrow_hover.svg")  0 1em no-repeat;
}

#dateReceived{
    width: 18.5em;
    padding-left: 2.5em;
    background: url("../img/CalendarCheck.svg") .2em .7em     no-repeat;
}

#date-checkbox{
    position: relative;
    left: -4em;
}

.details {
    display: grid;
    grid-template-areas: 'Journalist-label Journalist'
    'Email-label Email'
    'Query-label Query'
    'Requirements-label Requirements';
    row-gap: .75em;
    column-gap: .75em;
    width: 94em;
    padding: 1em;
    padding-right: 3em;
    padding-left: 2em;
    border-top: solid 1px #EDEEF1
}

.details-label{
    font-weight: bold;
}

.hidden {
    display: none;
}

button:not(.dev-btns > *){
    border: none;
    background-color: rgba(0,0,0,0);
}

.disabled {
    opacity: .5
}

.page-nav {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.page-nav-btn.page-nav-btn{
    display:inline;
    width: fit-content;
    margin-right: 1em;
    border: 2px solid #A4A6B36B;
    border-radius: 8px;
    padding: .6em;
    cursor: pointer;
}

.page-nav-btn > svg {
    position: relative;
    bottom: .1em;
}

.page-nav.bottom-nav{
    margin-top: 2em;
}

/* ---------------------New Code------------------------- */


.select-container{
    display:flex;
}


.search-tab.selected {

    position:relative;
    text-align: center;
    vertical-align: middle;

    line-height: 44px; 
    margin-bottom: 0em;
    padding:0;

    /* From Figma */
    width: 109px;
    height: 44px;/*Adjusted for esthetics */
    background: #FFFFFF;
    border: 1px solid rgba(164, 166, 179, 0.5);

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    
}

/* Add a small white rectangle under the div */

.search-tab.selected::after {
    position: relative;
    z-index:2;
    background-color: rgb(255, 255, 255);
    height: 6px;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
  }


.search-tab{
    position:relative;
    text-align: center;
    vertical-align: middle;

    line-height: 44px; 
    margin-bottom: 0em;
    padding:0;

    /* From Figma */
    width: 109px;
    height: 44px;/*Adjusted for esthetics */
    background: rgba(215, 215, 215, 0.5);

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#all-btn{
    border-radius: 8px 0px 0px 0px;
}
#saved-btn{
    border-radius: 0px 8px 0px 0px;
}



/* ---------------------New Code------------------------- */ 