body::-webkit-scrollbar {
  display: none;
}

:root {
  margin: none;
  padding: none;
  --lightyear-red: #F04C23;
  --lightyear-yellow: #FCE300;
  --lightyear-gray: #EFEFEF;
  --lightyear-blue: #3452ff;
  --background-color: #ffffff;
  --contrast-color: #000;
  font-family: 'Mulish', sans-serif;
  font-size: 11pt;
  scroll-behavior: smooth;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  outline: none;
  color: var(--contrast-color);
  padding: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#header {
  /* End Header */
}

#header #header {
  /* Header */
  /* hover underline */
}

#header #header html {
  width: 100%;
  height: 100%;
}

#header #header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  width: 100%;
  font-weight: 700;
  background-color: var(--lightyear-yellow);
  color: var(--contrast-color);
}

#header #header .alignment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  width: 100%;
  margin-left: 2em;
  margin-right: 2.4em;
}

#header #header .alignment-wrapper > section {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#header #header .alignment-wrapper > section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#header #header header > section:last-of-type {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header #header a {
  text-decoration: none;
  color: black;
}

#header #header .flex-6 > div:hover::after {
  background-color: var(--contrast-color);
  right: 0px;
}

#header #header .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header #header .flex-6 {
  padding-top: .75em;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#header #header .flex-6 > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: fit-content;
  text-align: center;
}

#header #header .flex-6 > *:not(#logout-svg) {
  margin-right: 2rem;
  margin-top: .5em;
  overflow: visible;
}

#header #header #logout-svg {
  padding-top: .65em;
}

#header #header .flex-6 > *::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#header #header .flex-6 > *:not(#logout-svg)::after {
  height: 3px;
  bottom: -.25em;
}

#header #header #logout-svg::after {
  height: 3px;
}

#header #header .flex-6 > *:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#header #header .flex-6 > *::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
}

.main svg:nth-of-type(2) {
  display: none;
}

.main img {
  min-height: 50px;
}

.main .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .flex-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.main main {
  margin-top: 3rem;
}

.main .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: clamp(300px, 90%, 1500px);
  min-width: 300px;
  margin: 4rem;
  justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px clamp(0rem, 1rem, 4rem);
  margin: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: var(--lightyear-yellow);
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease-out 0.125s;
  transition: all ease-out 0.125s;
  border: solid 1px var(--lightyear-yellow);
}

.main .card > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 5;
  min-height: 160px;
  cursor: pointer;
}

.main .card > div > h1 {
  font-size: 2.75rem;
  margin: 0px;
  margin-bottom: 2vh;
  padding: 0px;
  color: var(--contrast-color);
}

.main .empty {
  visibility: hidden;
}

.main .card > div > p {
  font-size: 1.125rem;
}

.main .card:hover {
  border: solid 1px var(--lightyear-yellow);
  color: var(--background-color);
}

.main .card::after {
  content: "Check it out";
  text-align: center;
  z-index: 1;
  position: absolute;
  padding: 9rem 0.25rem;
  bottom: -85%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--contrast-color);
  font-size: 3rem;
  font-weight: bold;
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
  cursor: pointer;
}

.main .card:hover::after {
  bottom: 0px;
  z-index: 10;
}

.main .padding {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block;
}


.main footer > div {
  background-color: var(--lightyear-yellow);
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 5rem;
}


.main footer > div > h4 {
  padding-top: 3rem;
  color: lightgrey;
}

@media screen and (max-width: 1900px) {
  .main .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main header > section:last-of-type {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .main .card {
    margin: 0px;
    margin-top: 2rem;
    padding: 0rem 1rem;
  }
  .main .card > div > h1 {
    font-size: 2.25rem;
  }
  .main .footerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .footerWrapper > section {
    margin: auto;
    width: 90%;
  }
  .main .footerLeft {
    color: var(--background-color);
    padding-bottom: 3rem;
    font-size: 1rem;
  }
  .main .footerLeft > hr {
    width: 100%;
    border-top: solid 2px var(--background-color);
  }
  .main .footerRight > section > div:first-of-type > input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 45%;
    height: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .main .cards-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .main .cards-wrapper {
    width: 90%;
  }
}
/*# sourceMappingURL=homePage.css.map */