body {
  margin: 0;
  background-color: var(--background-color);
}

:root {
  --lightyear-red: #f04c23;
  --lightyear-yellow: #fce300;
  --lightyear-gray: #b6b6b6;
  --lightyear-blue: #3452ff;
  --background-color: #f7f8fc;
  --contrast-color: #000;
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
  font-size: 11pt;
}

#header #header html {
  width: 100%;
  height: 100%;
}

#header #header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
  width: 100%;
  font-weight: 700;
  background-color: var(--lightyear-yellow);
  color: var(--contrast-color);
}

#header #header .alignment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
  width: 100%;
  margin-left: 2em;
  margin-right: 2.4em;
  min-height: 58.66px;
}

#header #header .alignment-wrapper > section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#header #header .alignment-wrapper > section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#header #header header > section:last-of-type {
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#header #header a {
  text-decoration: none;
  color: black;
}

#header #header .flex-6 > div:hover::after {
  background-color: var(--contrast-color);
  right: 0px;
}

#header #header .flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#header #header .flex-6 {
  padding-top: 0.75em;
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

#header #header .flex-6 > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: fit-content;
  text-align: center;
}

#header #header .flex-6 > *:not(#logout-svg) {
  margin-right: 2rem;
  margin-top: 0.5em;
  overflow: visible;
}

#header #header #logout-svg {
  padding-top: 0.65em;
}

#header #header .flex-6 > *::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#header #header .flex-6 > *:not(#logout-svg)::after {
  height: 3px;
  bottom: -0.25em;
}

#header #header #logout-svg::after {
  height: 3px;
}

#header #header .flex-6 > *:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

#header #header .flex-6 > *::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
}

/* End Header */
#page-main {
  padding: 2.5em 0 5em 5em;
  max-width: 875px;
  /* Body styling */
  /* Drop-zone */
  /* Header */
  /* Footer */
  /* Up Button | To be replaced with SVG */
  /* Submit Button */
  /* Inputs */
  /* reset input */
  /* Toast */
  /* Drop-zone */
  /* Loader */
  /* Media Fitting */
}

#page-main h1 {
  margin: 0px;
  color: black;
  font-size: 1.5em;
  padding: 20px 0 30px 0;
}

#page-main h2 {
  margin: 0px;
  color: black;
  font-weight: 500;
  font-size: 1.3rem !important;
}

#page-main p {
  font-size: 1.3rem;
}

#page-main hr {
  margin: 20px 0px;
  color: var(--lightyear-yellow);
  border: solid var(--background-color) 1px;
}

#shrinkTop {
  margin-top: 1rem;
}

#page-main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--lightyear-yellow);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#page-main ol {
  display: inline-block;
  padding: 0px 10px 0px 20px;
}

#page-main ul {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* text-align: right; */
}

#page-main section:nth-of-type(3) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -ms-grid;
  display: grid;
  width: 40%;
  min-width: 600px;
  padding: 2.5% 2.5%;
}

#page-main section:nth-of-type(3) > div:nth-of-type(3) {
  padding: 2.5% 0%;
}

#page-main div > div {
  font-size: 1.3rem;
}

/* #page-main footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--lightyear-yellow);
  color: var(--background-color);
  padding: 20px 0px;
  margin-top: 20px;
} */

/* #page-main span {
  -webkit-text-decoration: underline 3px var(--lightyear-yellow);
  text-decoration: underline 3px var(--lightyear-yellow);
} */

#page-main body > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: clamp(100px, 80%, 1000px);
  padding: 0% 20%;
  padding-top: 3%;
}

#page-main body > div:first-child {
  padding: 0 20%;
}

#page-main #drop_zone {
  margin-bottom: 0;
  border-radius: 0.25rem;
  height: 400px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: dashed 2px black;
}

#page-main #drop_zone > div {
  width: 100%;
  height: 100%;
  color: black;
}

#page-main #drop_zone > div > label {
  cursor: pointer;
}

#page-main .inputFile {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#page-main header > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 20px 5%;
}

#page-main header > div:last-child {
  text-align: end;
}

#page-main header > div:first-child {
  color: black;
}

#page-main header > div:first-child > h1 {
  color: var(--background-color);
}

#page-main ul > li {
  font-size: 1.25rem;
  font-weight: 800;
  display: inline;
  width: 200px;
}

#page-main ul > li > a {
  text-decoration: none;
  color: var(--background-color);
}

#page-main footer > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: clamp(200px, 80%, 1200px);
  text-align: center;
}

#page-main footer > div:first-child {
  width: auto;
}

#page-main footer > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#page-main footer > div:first-of-type > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#page-main footer > div:first-of-type > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#page-main footer > div:first-of-type > div > svg {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  fill: var(--background-color);
  margin: 0px 20px;
}

#page-main #upBtn > p {
  margin: 0px;
}

#page-main #submitBtn {
  background-color: var(--lightyear-yellow);
  color: black;
  padding: 20px;
  font-size: 1.4rem;
  width: 97.3%;
  border-radius: 8px;
  border: var(--lightyear-yellow) 2px solid;
  box-shadow: -2px -1px 13px 4px rgba(0, 0, 0, 0.057);
  margin-bottom: 10%;
  cursor: pointer;
  font-weight: 800;
  display: block;
}

#page-main #submitBtn:hover {
  background-color: black;
  color: var(--lightyear-yellow);
  border: var(--lightyear-yellow) 2px solid;
}

#page-main .form__group {
  position: relative;
  padding: 35px 0 0;
  margin-top: 0;
  width: 98%;
}

#page-main .form__field {
  font-family: inherit;
  width: 98%;
  height: 1.7em;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  color: black;
  padding: 7px 7px;
  background: rgba(128, 128, 128, 0.053);
}

#page-main .form__field::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: var(--lightyear-gray);
}

#page-main .form__field:-ms-input-placeholder {
  font-size: 1.3rem;
  color: var(--lightyear-gray);
}

#page-main .form__field::-ms-input-placeholder {
  font-size: 1.3rem;
  color: var(--lightyear-gray);
}

#page-main .form__field::placeholder {
  font-size: 1.3rem;
  color: var(--lightyear-gray);
}

#page-main .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
}

#page-main .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.3rem;
  color: black;
}

#page-main .form__label:after {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1.3rem;
  color: var(--lightyear-red);
  content: " *";
  display: inline;
}

#page-main .required__label {
  color: black;
}

#page-main .form__field:required,
#page-main .form__field:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flashed-message {
  display: block;
  margin-bottom: 1em;
  padding-top: 1em;
  width: 100%;
  height: 2em;
  text-align: center;
  background-color: var(--lightyear-red);
}

#page-main .toast {
  position: fixed;
  bottom: clamp(30px, 5%, 90px);
  left: clamp(10px, 2%, 50px);
  width: clamp(200px, 50%, 400px);
  height: clamp(100px, 50%, 200px);
  background-color: var(--lightyear-gray);
  border-radius: 0.2rem;
  color: black;
}

#page-main .toast > div {
  width: clamp(200px, 1000%, 400px);
  height: clamp(100px, 1000%, 200px);
  border-radius: 0.2rem;
}

#page-main .toast-loader {
  width: 100%;
  height: 10px;
  border-radius: 0.1rem 0.1rem 0rem 0rem;
  background-color: var(--lightyear-yellow);
  -webkit-transition: width ease-out 1.2s;
  transition: width ease-out 1.2s;
}

#page-main .toast-content {
  width: calc(100% - 40px);
  height: calc(100% - 30px);
  background-color: var(--lightyear-gray);
  padding: 10px 20px;
}

#page-main .toast-loader-end {
  width: 0%;
}

#page-main ol > li {
  font-size: 1.1rem;
}

#page-main #myDropzone {
  margin: 2rem 1.6rem 2rem 0rem;
  border-radius: 0.4rem;
  background: rgba(128, 128, 128, 0.053);
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: 2px dashed rgb(137, 137, 137);
  overflow-y: scroll;
  cursor: pointer;
}

.dz-preview.dz-file-preview {
  width: 360px !important;
  margin-bottom: 2em;
}

.dz-details {
  padding-bottom: 0 !important;
}

.dropzone .dz-preview .dz-image {
  width: 100%;
}

.dropzone .dz-details .dz-filename span {
  font: inherit;
}

.dropzone .dz-preview .dz-remove {
  font: inherit;
  color: var(--lightyear-gray);
}

.dropzone .dz-preview .dz-progress {
  display: none;
}
.dropzone .dz-preview .dz-error-message span {
  font: inherit;
}
.dropzone .dz-preview .dz-success-mark {
  display: none;
}

.dropzone .dz-preview .dz-details .dz-size {
  display: none;
}

#page-main #myDropzone > div {
  color: black;
  font-size: 1.25rem;
}

#page-main .loader {
  z-index: 101;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--lightyear-yellow);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#page-main .delay-100 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#page-main .delay-200 {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

#page-main .ball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  margin: 2rem;
}

#page-main .ball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
  animation: bounce 500ms alternate infinite ease;
}

#bad-window-size {
  display: none;
  text-align: center;
  font-size: 1em;
  margin: 0;
  padding: 5em;
}

#clearOut {
  font-family: inherit;
  width: 98%;
  height: 1.7em;
  border: 0;
  outline: 0;
  border-radius: 0.4rem;
  color: black;
  padding: 7px 7px;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@media only screen and (max-width: 700px) {
  #page-main section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.highlight {
  border-bottom: 8px solid transparent;
  border-image: url(../img/YellowLine.png) 30 stretch;
}
#image-placement img {
  /* position: absolute;
  margin-right: 0;
  z-index: -5;
  top: 100px;
  right: 30px;
  min-height: 750px;
  overflow: hidden; */

  position: absolute;
  z-index: -5;
  top: 100px;
  right: 30px;
  height: 80%;
  overflow: hidden;
  min-height: 650px;

  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 1400px) {
  #image-placement img {
    opacity: 0.3;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

#help-circle {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  border: 1px var(--lightyear-yellow) solid;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
  background: var(--lightyear-yellow);
  text-decoration: none;
  z-index: 10;
}

#nav-selected {
  border-bottom: black solid 3.5px;
}

footer h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--lightyear-gray);
  text-align: center;
  font-weight: 500;
}

@media (max-height: 900px) {
  footer {
    display: none;
  }
}

@media (max-width: 800px) {
  #page-main {
    display: none;
  }

  #bad-window-size {
    display: block;
  }
}
