/* General Styling */
:root {
  --lightyear-red: #f04c23;
  --lightyear-yellow: #fce300;
  --lightyear-gray: #b6b6b6;
  --lightyear-blue: #3452ff;
  --background-color: #f7f8fc;
  --contrast-color: #000;
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
  font-size: 11pt;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
  height: 100%;
}

hr {
  width: 80%;
  border-top: black 2px solid;
  margin: auto;
}

section {
  flex: 1;
  display: grid;
  place-items: flex-start center;
  width: auto;
  min-height: 100vh;
}

section > div {
  margin-top: 15vh;
}

/* section:last-of-type {
  background-color: black;
} */

section > div {
  width: clamp(300px, 80%, 600px);
}

section > div > div > h1 {
  font-size: 4rem;
}

section > div > div > h2 {
  font-size: 2rem;
}

/* Log in */
.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  border-radius: 0.75rem;
}

.login > div:first-of-type > div {
  margin-bottom: 4rem;
}

/* Login input */
.form__group {
  position: relative;
  padding: 8px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 58%;
  height: 1.7em;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  border-radius: 8px;
  color: black;
  padding: 10px 7px;
  margin-bottom: 1.2em;
  background: rgba(128, 128, 128, 0.116);
}

.form__label {
  position: absolute;
  top: 0;
  left: 20%;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.checkBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.response-page {
  font-family: inherit;
  text-align: center;
}

.response-page h1 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.response-page a {
  background-color: var(--lightyear-yellow);
  color: black;
  border: 2px solid;
  border-color: var(--lightyear-yellow);
  font-size: 2.25rem;
  padding: 20px 40px;
  border-radius: 0.25rem;
  font-weight: 600;
  width: 60%;
  cursor: pointer;
  transition: ease-out 0.2s all;
  margin-top: 4rem;
}

.response-page a:hover {
  color: var(--lightyear-yellow);
  background-color: black;
  border: var(--lightyear-yellow) 2px solid;
}

/* Login Button */
#loginBtn {
  background-color: var(--lightyear-yellow);
  color: black;
  border: 2px solid;
  border-color: var(--lightyear-yellow);
  font-size: 2.25rem;
  padding: 15px 40px;
  border-radius: 8px;
  font-weight: 600;
  width: 60%;
  cursor: pointer;
  transition: ease-out 0.2s all;
  box-shadow: -2px -1px 13px 4px rgba(0, 0, 0, 0.104);
}

#loginBtn:hover {
  color: var(--lightyear-yellow);
  background-color: black;
  border: var(--lightyear-yellow) 2px solid;
}

/*  Sign up */

#login-image img {
  position: absolute;
  /* margin-right: -9%; */
  z-index: -5;
  bottom: 20px;
  left: -20px;
  height: 45%;
  overflow: hidden;
  min-height: 300px;

  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 1000px) {
  #login-image img {
    opacity: 0.3;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#future {
  position: absolute;
  z-index: -3;
  right: 80px;
  top: 80px;
  min-width: 200px;
  min-height: 100px;
  height: 20%;
  content: url("../img/Future.png");
  animation: replaceStatic 0.15s forwards 4s;
}

@keyframes replaceStatic {
  to {
    content: url("../img/finalFuture.png");
  }
}

@keyframes replacePic {
  to {
    background-image: url(../img/finalFuture.png);
  }
}

.errors {
  position: relative;
  margin-top: -15px;
  padding-right: 40px;
  color: red;
}

a {
  text-decoration: none;
  color: purple;
  padding-bottom: 3px;
}
a:hover {
  color: var(--lightyear-yellow);
}

#highlight {
  border-bottom: 8px solid transparent;
  border-image: url(../img/YellowLine.png) 30 stretch;
}

.signUp > div > p {
  height: 18.2rem;
  margin-bottom: 0px;
}
/* Media Fitting */
@media only screen and (max-width: 900px) {
  #future {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #login-image {
    display: none;
  }
}

@media (max-height: 700px) {
  #login-image {
    display: none;
  }
}
