
:root {
    margin: none;
    padding: none;
    --lightyear-red: #F04C23;
    --lightyear-yellow: #FCE300;
    --lightyear-gray: #EFEFEF;
    --lightyear-blue: #3452ff; 
    --background-color: #ffffff;
    font-family: 'Inter';
    scroll-behavior: smooth;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--lightyear-red);
    color: transparent;
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    margin: 0px;
    color: var(--lightyear-red);
}

h2 {
    margin: 0px;
}

input {
    width: clamp(80px, 70%, 800px);
    padding: auto;
    margin: auto;
    margin-top: 20px;
}

header{
    display:flex;
    z-index: 20;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
    position: sticky;
    top: 0px;
    transition: ease-out all 0.25s;
}

ul {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightyear-yellow);
    color: var(--background-color);
    padding: 20px 0px;
}

hr  {
    margin: 20px 0px;
    color: var(--background-color);
    border: solid var(--background-color) 1px;
}

span {
    text-decoration: underline 3px var(--lightyear-blue);
}


/* Header */

header > div {
    flex: 1;
    margin: 20px 5%;
}

header > div:last-child{ 
    text-align: end;
}

header > div:first-child {
    color: var(--lightyear-red);
}

header > div:first-child > h1 {
    color: var(--lightyear-red);
    transition: ease-out all 0.25s;
}

ul > li {
    font-size: 1.25rem;
    font-weight: 800;
    display: inline;
    width: 200px;
}

ul > li > a {
    text-decoration: none;
    color: var(--lightyear-red);
    font-size: 1.5rem;
    transition: ease-out all 0.25s;
}

/* Footer */
footer > div {
    flex: 1;
    width: clamp(200px, 80%, 1200px);
    text-align: center;
}

footer > div:first-child {
    width: auto;
}

footer > div:first-of-type {
    display: flex;
    flex-direction: column;
}

footer > div:first-of-type > div {
    flex: 1;
}

footer > div:first-of-type > div:nth-of-type(2) {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

footer > div:first-of-type > div > svg {
    flex: 1;
    fill: var(--background-color);
    margin: 0px 20px;
}

/* Up Button | To be replaced with SVG */ 
#upBtn {
    color: var(--lightyear-yellow);
    border-radius: 1000px;
    background-color: var(--lightyear-red);
    display: grid;
    place-content: center;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    width: 20px;
    height: 20px;
    font-weight: 800;
}

#upBtn > p {
    margin: 0px;
}

/*
 Left + Right + Text
*/

img {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    color: var(--lightyear-red);
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.text > div {
    flex: 1;
    min-width: 400px;
    margin: 4rem 2rem;
    padding: 4px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.img1 {
    background: url("https://images.unsplash.com/photo-1522204538344-922f76ecc041?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") 50% 50% no-repeat;
    width: 300px;
    height: 300px;
}

.img2 {
    background: url("https://images.unsplash.com/photo-1522204538344-922f76ecc041?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") 50% 50% no-repeat;
    width: 300px;
    height: 300px;
}

.intro {
    display: flex;
    color: var(--lightyear-red);
    width: 60%;
    align-items: flex-end;
    margin: auto;
    padding: 0rem 4rem;
    text-align: center;
    flex-wrap: wrap;
    min-height: 55vh;
    margin-bottom: 20rem;
}

.intro > div:first-of-type > h2 {
    margin-top: 2rem;
    font-size: 20px;
}

.intro > div:last-of-type > h2 {
    font-size: 4rem;
    min-width: 300px;
}

.flex-1 {
    flex:1;
}

.flex-2{
    flex:2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.about {
    display: flex;
    color: var(--lightyear-red);
    width: 60%;
    align-items: flex-start;
    margin: auto;
    padding: 0rem 4rem;
    text-align: center;
    flex-wrap: wrap;
    border-top: 2px solid var(--lightyear-red);
    padding-top: 10rem;
}

.about > div:first-of-type {
    transform: rotate(-90deg);
    font-size: 4rem;
    text-align: right;
    color: var(--background-color);
    -webkit-text-stroke: var(--lightyear-red) 5px;
    letter-spacing: 4px;
}

.about > div:last-of-type {
    font-size: 1.5rem;
}

.product {
    display: flex;
    color: var(--lightyear-red);
    width: 75%;
    align-items: flex-start;
    margin: auto;
    margin-top: 10rem;
    padding: 0rem 4rem;
    text-align: center;
    flex-wrap: wrap;
    border-top: 2px solid var(--lightyear-red);
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.product > div:first-of-type {
    transform: rotate(-90deg);
    font-size: 3.5rem;
    text-align: right;
    color: var(--background-color);
    -webkit-text-stroke: var(--lightyear-red) 5px;
    letter-spacing: 4px;
}

.product > div:last-of-type {
    font-size: 1.5rem;
}

/* Cards */
.noTop {
    border: none;
    padding: 0px;
    margin: 0px auto;
}

.invisible {
    color: transparent;
    visibility: hidden;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.cards > div {
    flex: 1;
    margin: 1rem;
    min-height: 400px;
    min-width: 200px;
    padding: 8rem 3rem;
    border-radius: 0.5rem;
    border: var(--lightyear-red) solid 2px;
    transition: ease-out 0.2s all;
}

.cards > div:hover {
    box-shadow: 0px 0px 25px var(--lightyear-red);
}

.cards > div > h1{
    font-size: 3rem;
}

.cards > div > hr{
    width: 80%;
    border-top: var(--lightyear-red) solid 5px;
    margin: 0px;
}

/* Carousel */
.carousel {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin-top: 50px;
    margin: 10rem auto;
}

.slider {
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  position: absolute;
  transition: all 0.5s;
  border-radius: 0.5rem;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.btn {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-weight: 800px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  font-size: 5rem;
  background-color: var(--background-color);
  color: var(--lightyear-red);
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
    margin-right: 2.5rem;
}

.btn-next {
    margin-left: 1rem;
}

/* SignUp */
.padding {
    padding-top: 5rem;
    transform: rotate(180deg);
}

.join3 {
    background-color: var(--lightyear-yellow);
    text-align: center;
    padding: 25rem 0rem;
    padding-bottom: 20rem;
}

.join3 > div {
    background-color: var(--lightyear-yellow);
    border: 5px var(--background-color) solid;
    width: 50%;
    margin:auto;
    padding: 0.5rem;
    transition: ease-out 0.2s all;
}

.join3 > div:hover {
    border: 5px var(--lightyear-red) solid; 
}

.join3 > div > button {
    color: var(--lightyear-red);
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: 5rem;
    font-style: italic;
    padding: 2.5rem 20rem;
    width: 100%;
    font-weight: 800;
    transition: all ease-out 0.2s;
}

@media only screen and (max-width: 600px) {

}