{% extends "bootstrap/base.html" %}
{% block title %}Lightyear{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation"> <div class="container">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
         <span
         <span
         <span
         <span
      </button>
      <a class="navbar-brand" href="/">Flasky</a> </div>
   <div class="navbar-collapse collapse"> <ul class="nav navbar-nav">
      <li><a href="/">Email Validation</a></li> </ul>
   </div>
</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
   <div class="page-header">
      <h1>Sorry, there was an error — try again!</h1> </div>
</div>

{% endblock %}