{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>Summary</th>
        <th>Media Outlet</th>
        <th>Category</th>
        <th>Deadline</th>

      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    /* Formatting function for row details - modify as you need */
function format ( d ) {
    // show nothing if there is no name
    if (!(d.Name)) {d.Name = ''}
    // `d` is the original data object for the row
    return '<table class="table">'+
        '<tr>'+
            '<td>Name:</td>'+
            '<td>'+d.Name+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Email:</td>'+
            '<td>'+d.Email+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Query:</td>'+
            '<td>'+d.Query+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Requirements:</td>'+
            '<td>'+d.Requirements+'</td>'+
        '</tr>'+
    '</table>';
}
    $(document).ready(function () {
        $('#data').DataTable({
        ajax: '/api/serveHaros',
        serverSide: true,
        columns: [
          {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
          },
          {data: 'Summary', orderable: false},
          {data: 'MediaOutlet'},
          {data: 'Category'},
          {data: 'Deadline'}
        ],
      });
    });

    // Add event listener for opening and closing details
    $('#data tbody').on('click', 'tr td.details-control', function () {
        var table = $('#data').DataTable();
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            tr.removeClass( 'details' );
            row.child.hide();
            //tr.removeClass('shown');
        }
        else {
            // Open this row
            tr.addClass( 'details' );
            row.child( format(row.data()) ).show();
            //tr.addClass('shown');
        }
    } );

  </script>
{% endblock %}

