{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Deadline</th>
        <th>Email</th>
        <th>Media Outlet</th>
        <th>Name</th>
        <th>Query</th>
        <th>Requirements</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'Category'},
          {data: 'Deadline'},
          {data: 'Email'},
          {data: 'Media Outlet'},
          {data: 'Name'},
          {data: 'Query'},
          {data: 'Requirements'},
          {data: 'Summary'}
        ],
      });
    });
  </script>
{% endblock %}