{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}LyS Email Verification{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
   <div class="container">
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li> <a href="/">Email Validation</a> </li>
            <li> <a href="/haros">Haros Table</a> </li>
         </ul>
      </div>
   </div>
</div>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
   {% for message in messages %}
   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
   <div class="page-header">
      <h2>Please, upload the file</h2>
   </div>
   <br>Please, upload the file and don't close the page!</br>
   It will be processed in background. It <i>might</i> take 5-10 minutes for bigger files.
   {{ wtf.quick_form(form) }}
</div>
{% endblock %}