<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font, Mulish-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
    <title> Login</title>
</head>
<body>
    <section>
        <div class="login">
        <div id="login-image">
          <img src="../static/img/LadyOnBag.svg">
        </div>
            <div>
                <h1> Login </h1>
                <form method="POST" action="/">
                    {{ form.csrf_token }}
                    <!-- Copy and Paste the Text inputs -->
                    <div action="" class="form__group field">
                        {{ form.username_email(id='username_email', class="form__field", placeholder="username_email") }}
                        {{ form.username_email.label(for='username_email',class="form__label") }}
                        {% if form.username_email.errors %}
                            <ul class="errors">
                                {% for error in form.username_email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div action="" class="form__group field">
                        {{ form.password(id='password', class="form__field", placeholder="password") }}
                        {{ form.password.label(for='password',class="form__label") }}

                        <!-- For showing Password related errors during form.validate_on_submit -->
                        {% if form.password.errors %}
                            <ul class="errors">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <!-- For showing Password related errors after form.validate_on_submit -->
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="errors">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <br>
{#                    onclick='location.href="{{ url_for('home') }}"' type="button" #}
                    <button  id="loginBtn">
                    LOGIN
                    </button>
                </form>
                <br>
            </div>
        </div>
    </section>
    <section id="wrapper">
        <div class="signUp">
            <div id="signUp-image">
                <img src="../static/img/signUp-pr1.svg">
            </div>
            <div class="onTop">
                <h1>
                    <span id="highlight"> First time</span>
                    here?
                </h1>
                <p>
                   As public relations professionals with roots in 
                   software development, we felt boxed in by the 
                   current PR tech offerings. It was upon us to push 
                   the boundaries of PR productivity. <br><br>
                   Create a free account to join our beta tech stack.

                </p>
            </div>
            <div class="onTop">
                <button onclick='location.href="{{ url_for('signup') }}"' type="button">
                    Sign Up
                </button>
            </div>
        </div>
    </section>   
</body>
</html>