<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
    <title> Sign In — Lightyear Strategies</title>
</head>
<body>
    <section>
        <div class="login">
            <div>
                <h1> Sign In </h1>
                <form method="POST" action="/">
                    {{ form.csrf_token }}
                    <!-- Copy and Paste the Text inputs -->
                    <div action="" class="form__group field">
                        {{ form.username_email(id='username_email', class="form__field", placeholder="username_email") }}
                        {{ form.username_email.label(for='username_email',class="form__label") }}
                        {% if form.username_email.errors %}
                            <ul class="errors">
                                {% for error in form.username_email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div action="" class="form__group field">
                        {{ form.password(id='password', class="form__field", placeholder="password") }}
                        {{ form.password.label(for='password',class="form__label") }}
                        {% if form.password.errors %}
                            <ul class="errors">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <br>
                    <button onclick='location.href="{{ url_for('home') }}"' type="button" id="loginBtn">
                    Sign In
                    </button>
                    <div class="checkBox" id="checkBox">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        <label for="remember_me">Remember login for next time?</label>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </section>
    <section>
        <div class="signUp">
            <div>
                <h1>
                    <span> First time</span>
                    Here?
                </h1>
                <p>
                   Create an account to access the most innovative tech stack in PR. As public relations professional with a background in software development, we are pushing tech to the forefront of the PR industry.
                </p>
            </div>
            <div>
                <button onclick='location.href="{{ url_for('signup') }}"' type="button">
                    Sign Up
                </button>
            </div>
        </div>
    </section>   
</body>
</html>