<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font, Mulish-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/signup.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
    <title>Sign Up — Lightyear Strategies</title>
</head>
<body>
     <section>
        <div class="signUp">
            <div id="kite">
                <img src="../static/img/kite.svg">
            </div>
            <div id="girl">
                <img src="../static/img/girl.svg">
            </div>

            <div>
                    <h1>Sign Up </h1>
                    <form method="POST" action="/signup">
                        {{ form.csrf_token }}
                        <div id="name-container">
                            <div action="" class="  form__group field ">
                                {{ form.name(id='name', class="form__field nameFormat", placeholder=" First Name") }}
                                {% if form.name.errors %}
                                    <ul class="errors">
                                        {% for error in form.name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        <div action="" class="  form__group field">
                                {{ form.name(class="form__field nameFormat", placeholder=" Last Name") }}
                                {% if form.name.errors %}
                                    <ul class="errors">
                                        {% for error in form.name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>                           
                        </div>
                        <div action="" class="form__group field">
                            {{ form.email(id='email', class="form__field", placeholder="Email") }}
                            {% if form.email.errors %}
                                <ul class="errors">
                                    {% for error in form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div action="" class="form__group field">
                            {{ form.password1(id='password', class="form__field", placeholder="Password") }}
                            {% if form.password1.errors %}
                                <ul class="errors">
                                    {% for error in form.password1.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div action="" class="form__group field">
                            {{ form.password2(id='confirmPassword', class="form__field", placeholder="Confirm Password") }}
                            {% if form.password2.errors %}
                                <ul class="errors">
                                    {% for error in form.password2.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </div>
                    <button class="signUpBtn">
                        Sign Up
                    </button>
                         <h3>Already have an account? <a id="highlight" href="/" >Sign In</a> </h3>
                    </form>
                </div>
            </div>
     </section>


</body>
</html>