[Unit]
Description=runner for flaskMain with Celery
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/lightyear/flask
ExecStart=/home/ubuntu/lightyear/flask/flaskrunner.sh
Restart=always

[Install]
WantedBy=multi-user.target