[Unit]
Description=runner for flaskMain with Celery
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/lightyear/flask
ExecStartPre=/home/ubuntu/lightyear/venv/bin/celery -A flaskMain.celery worker -l INFO --detach
ExecStart=/home/ubuntu/lightyear/venv/bin/gunicorn --bind 0.0.0.0:80 -w 2 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target