<!doctype html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Journalists{% endblock %}
{% block navbar %}
<style>
    .navbar-nav {
        min-width:360px;
        float: left;
    }
    .navbar-nav>li {
        float: left;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-inverse bg-light" >
   <div class="container-fluid">
      <nav class="navbar-expand-sm">
         <ul class=" nav navbar-nav horizontal">
            <li> <a href="/">Email Validation</a> </li>
            <li> <a href="/haros">Haros Table</a> </li>
            <li> <a href="/journalists">Journalists</a> </li>
         </ul>
      </nav>
   </div>
</nav>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      <ul class=flashes>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
      </ul>
   {% endif %}
{% endwith %}
<div class="container">
   <div class="page-header">
      <h3>Subscribe to Journalist Updates</h3>
   </div>
   <strong>Guidelines:</strong>
   <p> <pre>
   1. Enter your full name
   2. Enter the email address where you want to receive your file(s)
   3. Create a .csv file with a column labeled "Journalists" containing the <b>Full Names of Journalists</b> that you would like to receive updates on
   4. Select the file(s)
   5. Press "Submit" button

   ---
   To remove or add Journalists, edit your CSV and resubmit it.
   We will automatically update the list of your Journalists.</pre> </p>
   <br>
   You will receive an email report immediately upon subscribing, then again every night at midnight, every Sunday at midnight, or the first of every month at midnight, depending on your subscription.
   <br> <br>
   <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
   {{ wtf.quick_form(form) }}
   </form>
</div>
{% endblock %}