{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}LyS Welcome{% endblock %}
{% block navbar %}
<style>
    .navbar-nav {
        min-width:360px;
        float: left;
    }
    .navbar-nav>li {
        float: left;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-inverse bg-light" >
    <div class="container-fluid">
        <nav class="navbar-expand-sm">
            <ul class=" nav navbar-nav horizontal">
                <li> <a href="/">Home</a> </li>
                <li> <a href="/email_verification">Email Validation</a> </li>
                <li> <a href="/haros">Haros Table</a> </li>
                <li> <a href="/journalists">Journalists</a> </li>
            </ul>
        </nav>
    </div>
</nav>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
   {% for message in messages %}
   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
    <div class="page-header">
        <h3>Welcome to Lightyear Strategies</h3>
    </div>
    <div>
        <a href="{{ url_for('welcome') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <p>Welcome {{current_user.username}}</p>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}

    </div>
</div>
{% endblock %}